h1 {
  font-size: 30px;
  text-align: start;
  color: white;
}
h2 {
  text-align: center;
}
li {
  font-size: large;
}

.ulli {
  font-size: 50px;

}
main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-items: baseline;
}
.udur {
  width: 300px;
  height: 100px;
  border: 1px solid #343a40;

}
.tiv h1 {
  text-align: center;
  padding: 30px;
  background-color: #343a40;
  margin: 0px;
}
.udur h1 {
  margin: 5px;
  background-color: #343a40;
}
.container1{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
}
.container2{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
}
p{
    font-size: 20px;
    margin: 5px;
    background-color: #343a40;
    color: white;
}
a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #495057;
    color: white;
}