* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


/* -------------Navbar CSS coding start from here------------------- */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1000;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 56px;
}

/* .header img {
  width: 30px;
} */

.first-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-box img {
  width: 18px;
}

.search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}

.logo {
  width: 40px;
  padding-right: 10px;
}

.middle-icons {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}

.middle-icons img {
  width: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.middle-icons div {
  display: flex;
  align-items: center;
  text-align: center;
  width: 110px;
  height: 50px;
}

.last-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last-icons img {
  width: 40px;
  padding-left: 10px;
}

.bodymain {
  display: flex;
  flex-direction: row;
  background-color: #f0f2f5;
}

.sidebar {
  display: flex;
  flex-basis: 15%;
  position: sticky;
  height: 100vh;
  padding-left: 16px;
  padding-top: 70px;
  align-self: flex-start;
  background-color: aqua;
}

.sidebar img {
  width: 28px;
  margin-right: 10px;
}

.shortcut-links .myphoto {
  border-radius: 50%;
}

.shortcut-links a {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
  width: fit-content;
  flex-wrap: wrap;
  text-decoration: none;
  background-color: #f0f2f5;
}

.shortcut-links a:hover {
  background-color: #e7e9eb;
  border-radius: 5px;
  width: 15vw;
}

.shortcut-links p {
  font-weight: bold;
  color: #050505;
  font-size: 15px;
}

.middlecontent {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  height: 100vh;
  background-color: brown;
  padding-left: 32px;
  padding-right: 32px;
}

.story-gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  padding-left: 32px;
  padding-right: 32px;
}

.story {
  display: flexbox;
  position: relative;
}

.story img{
  height: auto;
  width: 150px;
  border-radius: 20px;
}


.story1 img{
  width: 40px;
}

.story .plus-image {
  width: 32px;
  position: absolute;
  bottom: 10px;
  right: -30px;
  border-radius: 50%;
  border-radius: 10px solid rgb(255, 255, 255);
}

.story p {
  text-align: center;
  font-size: 14px;
  background-color: #fff;
}

.lastcontent {
  height: 100vh;
  flex-basis: 15%;
  height: 100vh;
  background-color: chocolate;
}
