* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #efefef;
  color: #252525;
}

/* -------------Navbar CSS coding start from here------------------- */

nav {
  display: flex;
  width: 100%;
  height: 60px;
  
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1000;
  top: 0;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

.nav-left .logo {
  width: 40px;
  margin: 5px 8px;
  cursor: pointer;
}

.nav-left .logo img {
  width: 100%;
  border: 50%;
}

.nav-left .search-box {
  width: 230px;
  height: 40px;
  background: #efefef;
  border-radius: 20px;
  margin-left: 4px;
  padding: 0 8px;
  position: relative;
}

.nav-left .search-box input {
  background-color: transparent;
  outline: none;
  border: 0;
  margin-left: 4px;
  width: 150px;
  font-size: 16px;
}

.nav-center {
  margin-right: 30px;
}

.nav-center i {
  width: 110px;
  background-color: none;
  border-radius: 10px;
  margin-left: 12px;
  font-size: 22px;
  padding: 13px 40px;
  color: #646262;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-right img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  line-height: 45px;
  margin-right: 16px;
  margin-left: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-right i {
  background: #efefef;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 8px;
  font-size: 22px;
  padding: 10px;
}

/* .bodymain {
  display: flex;
  flex-direction: row;
  background-color: #f0f2f5;
}

.sidebar {
  display: flex;
  flex-basis: 15%;
  position: sticky;
  height: 100vh;
  padding-left: 16px;
  padding-top: 70px;
  align-self: flex-start;
  background-color: aqua;
}

.sidebar img {
  width: 28px;
  margin-right: 10px;
}

.shortcut-links .myphoto {
  border-radius: 50%;
}

.shortcut-links a {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
  width: fit-content;
  flex-wrap: wrap;
  text-decoration: none;
  background-color: #f0f2f5;
}

.shortcut-links a:hover {
  background-color: #e7e9eb;
  border-radius: 5px;
  width: 15vw;
}

.shortcut-links p {
  font-weight: bold;
  color: #050505;
  font-size: 15px;
}

.middlecontent {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  height: 100vh;
  background-color: brown;
  padding-left: 32px;
  padding-right: 32px;
}

.story-gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  padding-left: 32px;
  padding-right: 32px;
}

.story {
  display: flexbox;
  position: relative;
}

.story img {
  height: auto;
  width: 150px;
  border-radius: 20px;
}

.story1 img {
  width: 40px;
}

.story .plus-image {
  width: 32px;
  position: absolute;
  bottom: 10px;
  right: -30px;
  border-radius: 50%;
  border-radius: 10px solid rgb(255, 255, 255);
}

.story p {
  text-align: center;
  font-size: 14px;
  background-color: #fff;
}

.lastcontent {
  height: 100vh;
  flex-basis: 15%;
  height: 100vh;
  background-color: chocolate;
}  */
